html {
  scroll-behavior: smooth;
}
h1,
p {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: rgb(0, 0, 0, 0.8);
}
header h1 {
  font-size: 3rem;
  margin-block: 5px;
}
header nav {
  display: flex;

  width: 500px;
}
header nav a {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-basis: 400px;
  transition-property: all;
  transition-duration: 0.5s;
}
header nav a:hover {
  transform: scale(1.3);
  color: black;
  font-weight: bold;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(#e3fdfd, #7ae2cf, #e3fdfd);
}
/* .content h1,
.content p {
  background-color: burlywood;
} */
.content h1 {
  font-size: 5rem;
  font-weight: bold;
}
.content p {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  /* animation: flow 2s infinite; */
}

#profile {
  flex-direction: row;
  align-items: center;
}
#name {
  padding-bottom: 70px;
}
#name h2 {
  text-align: center;
  font-size: 3rem;
}
#profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 15px;
}
.info {
  padding-block: 10px;
  font-size: 2rem;
  line-height: 2.5rem;
  border-top: 3px solid black;
}
.next-button {
  --s: 10px;

  height: 60px;
  aspect-ratio: 3/5;
  clip-path: polygon(
    0 0,
    var(--s) 0,
    100% 50%,
    var(--s) 100%,
    0 100%,
    calc(100% - var(--s)) 50%
  );
  background: rgb(0, 0, 0, 0.6);
  transition-property: all;
  transition-duration: 0.5s;
}

.next-button:hover {
  background: rgb(0, 0, 0, 1);
  transform: scale(1.2);
}

#myskill {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#skill-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 35px;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 600px;
  width: 450px;
  background-color: white;
  /* border: 2px solid; */
  box-sizing: border-box;
  box-shadow: 6px 6px 5px black;
}
.stack h2 {
  width: 200px;

  font-size: 30px;
  border-bottom: 3px solid rgb(0, 0, 0, 0.7);
  padding-bottom: 5px;
}

#my-project {
  flex-direction: row;
  align-items: center;
}
.pj {
  display: flex;
  align-items: center;
  background-color: rebeccapurple;
}
.pbox {
  width: 20vw;
  height: 60vh;
  box-sizing: border-box;
  border: 2px solid;
}

aside {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
